article {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden; 
}

article img {
    width: 100%; 
    height: auto; 
    display: block; 
}