
footer {
    background-color: var(--color-primary); 
    color: var(--color-white);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
}

a:hover {
    color: var(--color-lien)
}
