
/* ----------------------------------------------
Définition des styles de couleur et de rythme
----------------------------------------------- */
:root {
    /* --- Palette de couleur ---*/
    --color-background: #F3F1FC;
    --color-primary: #181f27;
    --color-secondary: #323a43;
    --color-accent: #457EFF;
    --color-border: #e1e4e8;
    --color-white: #ffffff;

    /* --- Liens ---*/
    --color-lien: #915DFF;
    --color-hover: #5f30c3;
    --color-active: #6a29f8;

    /* --- Typographie ---*/
    --taille-petite: 12px;
    --taille-courante: 14px;
    --taille-grande: 16px;

    --police: 'Inter', sans-serif;
    --interlignage: 1.5625em;

    /* --- Espacements ---*/
    --espacement-tres-petit: 5px;
    --espacement-petit: 10px;
    --espacement-moyen: 15px;
    --espacement-grand: 20px;
    --espacement-tres-grand: 30px;

}